# Database

## Importing important package:

In [1]:
import pandas as pd
import sqlite3

## Functions:

In [2]:
def dataframeVisual(rows):
    return pd.DataFrame(rows)

def dataframeSave(rows):
    df = dataframeVisual(rows)
    df.to_csv('new_data.csv', index=False, encoding='utf-8-sig')

## Importing dataframe

In [3]:
df1 = pd.read_csv("hotel_new.csv")
df2 = pd.read_csv("output_merged.csv")
df3 = pd.read_csv("df_type.csv")

## Importing database

In [4]:
# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('vietnam.db')

# Write the DataFrame to the database
df1.to_sql('Hotel', conn, if_exists='replace', index=False)
df2.to_sql('HotelReviews', conn, if_exists='replace', index=False)
df3.to_sql('AccommodationType', conn, if_exists='replace', index=False)

# Commit changes to the database
conn.commit()

# Close the connection
conn.close()

## Join database table

In [5]:
# Connect to the database
conn = sqlite3.connect('vietnam.db')

# Create a cursor object to execute SQL queries
cur = conn.cursor()

# Execute a query to retrieve the table schema
res  =  cur.execute("""
SELECT * FROM Hotel 
JOIN HotelReviews ON Hotel.hotel_id = HotelReviews.hotel_id
JOIN AccommodationType ON Hotel.hotel_id = AccommodationType.hotel_id
""")

# Fetch all rows from the query result
rows = res.fetchall()
dataframeSave(rows)
# Close the cursor and the connection
cur.close()
conn.close()

In [6]:
df = dataframeVisual(rows)
df.shape

(286814, 29)

In [7]:
dataframeVisual(rows).head(2)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,163,Ramana Saigon Hotel,"323 Le Van Sy Street, District 3",Ho Chi Minh City,Ho Chi Minh,296.0,1996.0,2015.0,1713,8.1,...,None,None,6.4,163,163,Hotel,Hotel,None,None,None
1,163,Ramana Saigon Hotel,"323 Le Van Sy Street, District 3",Ho Chi Minh City,Ho Chi Minh,296.0,1996.0,2015.0,1713,8.1,...,None,None,7.6,163,163,Hotel,Hotel,None,None,None

## Drop the non-considering collumns

In [8]:
columns_to_drop = [11, 12, 15, 22, 23, 24]
df.drop(df.columns[columns_to_drop], axis=1, inplace=True)

## Rename the collumns

In [12]:
new_names = ['hotel_id', 'hotel_name', 'addressline1','city','state','numberrooms','yearopened','yearrenovated',
             'number_of_reviews','rating_average','star_rating','national','groupname','staydetail','reviewtitle','comment','positive','negative','score',
             'accommodationtype1','accommodationtype2','accommodationtype3','accommodationtype4']  # List of new names

values = df.columns.to_list()

# Creating a dictionary mapping values to new_names
column_dict = dict(zip(values, new_names))

# Rename the columns using index
df.rename(columns=column_dict, inplace=True)

In [13]:
df.head(2).T

,0,1
hotel_id,163,163
hotel_name,Ramana Saigon Hotel,Ramana Saigon Hotel
addressline1,"323 Le Van Sy Street, District 3","323 Le Van Sy Street, District 3"
city,Ho Chi Minh City,Ho Chi Minh City
state,Ho Chi Minh,Ho Chi Minh
numberrooms,296.0,296.0
yearopened,1996.0,1996.0
yearrenovated,2015.0,2015.0
number_of_reviews,1713,1713
rating_average,8.1,8.1
star_rating,4.0,4.0
national,Singapore,Ấn Độ
groupname,Nhóm,Gia đình có trẻ em
staydetail,Đã ở 4 đêm vào Tháng 1 năm 2024,Đã ở 2 đêm vào Tháng 1 năm 2024
reviewtitle,HCM Short Trip”,Hospitality low ”
comment,A tourist class hotel with very basic amenitie...,The hotel rooms etc are good but very very sti...
positive,None,None
negative,None,None
score,6.4,7.6
accommodationtype1,Hotel,Hotel
accommodationtype2,None,None
accommodationtype3,None,None
accommodationtype4,None,None

## Save joined table

In [14]:
df.to_csv('database/original_data.csv', index=False, encoding='utf-8-sig')